{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid main-content">
	<div class="row">
    <aside class="col-xs-3 left-section">
      <header class="content-header">
        <h3>Conversaciones</h3>
      </header>
      <section>
        <ul id="conversations" class="conversation-list">
        </ul>
      </section>
    </aside>
	  <section class="col-xs-8">
	    <div class="row chat-messages">
        <div class="col-xs-12">
          <header class="content-header">
            <h3 class="">Estás chateando con <b id="current-conversation-name"></b></h3>
          </header>
  	      <ul id="messages-list">
  	      </ul>
        </div>
      </div>
      <div class="row chat-input">
        <div class="chat-input-avatar col-xs-1 col-xs-offset-1">
          <img class="img-rounded" width="34" src="/images/users/no_soul_grey.jpg">
        </div>
        <div class="chat-input-form col-xs-10 ">
          <form action="" class="form-inline" id='chat_form'>
            <div class="form-group chat-input-group">
              <input id="m" autocomplete="off" class="form-control" placeholder="Escribe tu mensaje"/>
            </div>
            <button type="submit" class="btn btn-default chat-send">Enviar</button>
          </form>
        </div>
      </div>
	  </section>	  
	</div>
</div>

{% endblock %}

{% block extra_js %}
<script id="message_template" type="x-tmpl-mustache">
{% raw %}
  <li>
    <div class="row chat-message">
      <div class="chat-message-avatar col-xs-1">
        <img class="img-rounded" width="40" src="{{ avatar_url }}">
      </div>
      <div class="chat-message-username col-xs-10">
        <span><b>{{ from }}</b></span>
      </div>
      <div class="chat-message-text col-xs-10">
        <p>{{ message }}</p>
      </div>
    </div>
  </li>
{% endraw %}
</script>
<script id="conversation_template" type="x-tmpl-mustache">
{% raw %}
  <li class="row chat-conversation">
    <div class="chat-conversation-avatar col-xs-2">
      <img class="img-rounded" width="40" src="/images/users/no_soul_red.jpg">
    </div>
    <div class="chat-conversation-user col-xs-6">
      <p>{{ username }}</p>
    </div>
    <div class="chat-conversation-user col-xs-2">
      <button class="btn btn-default conversation-switch" data-username="{{ username }}">¡A chatear!</button>
    </div>
  </li>
{% endraw %}
</script>
<script>
  /*function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
    function(m,key,value) {
      vars[key] = value;
    });
    return vars;
  }*/
  function render_message(from, avatar_url, message) {
    var template = $('#message_template').html();
    Mustache.parse(template);   // optional, speeds up future uses
    var rendered = Mustache.render(
      template,
      {avatar_url: avatar_url, message: message, from: from});
    $('#messages-list').append(rendered);
  }
  function render_conversation(username) {
    var template = $('#conversation_template').html();
    Mustache.parse(template);   // optional, speeds up future uses
    var rendered = Mustache.render(
      template,
      {username: username});
    $('#conversations').append(rendered);
  }
  function switch_conversation(username) {
    // update name
    $('#current-conversation-name').text(username);
    // clear chat messages
    $('#messages-list').html('');
  }
  $(function(){
    // init conversations
    //var current_conversation = getUrlVars()["chat_with"];
    var conversations = {% autoescape false %}{{ session.conversations|json }}{% endautoescape %};
    var current_conversation = '{{ session.conversations['0'] }}';
    switch_conversation(current_conversation);
    for (var i = conversations.length - 1; i >= 0; i--) {
      render_conversation(conversations[i]);
    };

    //init socket with username
    var username = '{{ session.passport.user.username }}';
    var socket = io('', {
      query: 'username=' + username
    });

    // message sending
    $('#chat_form').submit(function(){
      var msg = $('#m').val();
      if (msg == undefined) {
        //empty chat message, don't send
        return false;
      }
      render_message(username, '/images/users/no_soul_grey.jpg', msg);
      socket.emit('chat message', {
        to: current_conversation,
        from: username,
        message: msg
      });
      // clear message field
      $('#m').val('');
      // prevent form from actually submitting
      return false;
    });

    // message received
    socket.on('chat message', function(data){
      if (data.from != current_conversation) {
        if (!(conversations.includes(data.from))) {
          conversations.push(data.from);
          render_conversation(data.from);
        };
        current_conversation = data.from;
        switch_conversation(current_conversation);
      };
      render_message(data.from, '/images/users/no_soul_red.jpg', data.message);
    });
    
    // conversation switching
    $('.conversation-switch').click(function(event){
      current_conversation = $(this).data('username');
      switch_conversation(current_conversation);
    });

    // detect user offline
    $( window ).unload(function() {
      socket.emit('user disconnected', username);
    });
  });
</script>
{% endblock %}
