{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid main-content">
  <img class="right-texture" src="/images/textures/triangles-top.png">
	<div class="row">
    <aside class="col-xs-3">
      <header class="content-header">
        <h3 class="">Conversaciones anteriores</h3>
      </header>
      <section class="row">
        <ul id="conversations" class="conversation-list">
          <li>
              <div class="chat-conversation-avatar column two">
                <img class="img-rounded" width="50" src="https://cdn3.iconfinder.com/data/icons/character/512/8-512.png">
              </div>
              <div class="chat-conversation-user column ten last">
                <p>Manolo `Catacracker` Ruiz </p>
              </div>
          </li>
          <li>
              <div class="chat-conversation-avatar column two">
                <img class="img-rounded" width="50" src="https://cdn3.iconfinder.com/data/icons/character/512/8-512.png">
              </div>
              <div class="chat-conversation-user column ten last">
                <p>Joaquin `Joaquinator` Antero</p>
              </div>
          </li>
          <li>
              <div class="chat-conversation-avatar column two">
                <img class="img-rounded" width="50" src="https://cdn3.iconfinder.com/data/icons/character/512/8-512.png">
              </div>
              <div class="chat-conversation-user column ten last">
                <p>Luis `Brocha de acero` Garcia-Torres</p>
              </div>
          </li>
          <li>
              <div class="chat-conversation-avatar column two">
                <img class="img-rounded" width="50" src="https://cdn3.iconfinder.com/data/icons/character/512/8-512.png">
              </div>
              <div class="chat-conversation-user column ten last">
                <p>Cris `La Cifu` Futer</p>
              </div>
          </li>
        </ul>
      </section>
    </aside>
	  <section class="col-xs-8">
	    <div class="row chat-messages">
        <div class="col-xs-12">
          <header class="content-header">
            <h3 class="">Estás chateando con <b>Pinturas Pepe</b></h3>
          </header>
  	      <ul id="messages-list">
  	      </ul>
        </div>
      </div>
      <div class="row chat-input">
        <div class="col-xs-12">
          <div class="chat-input-avatar col-xs-2">
            <img class="img-rounded" width="50" src="http://fonixweddingplanner.com/uploads/testimonial/default.png">
          </div>
          <div class="chat-input-form col-xs-10">
            <form action="" class="" id='chat_form'>
              <input id="m" autocomplete="off" class="" placeholder="Escribe tu mensaje"/>
              <button class="sdas">Enviar</button>
            </form>
          </div>
        </div>
      </div>
	  </section>
	  
	</div>
  <img class="left-texture" src="/images/textures/triangles-bottom.png">
</div>

{% endblock %}

{% block extra_js %}
<script id="message_template" type="x-tmpl-mustache">
{% raw %}
  <li>
    <div class="row">
      <div class="chat-message-avatar col-xs-1">
        <img class="img-rounded" width="50" src="{{ avatar_url }}">
      </div>
      <div class="chat-message-text col-xs-10">
        <p>{{ message }}</p>
      </div>
    </div>
  </li>
{% endraw %}
</script>
<script>
  function render_message(avatar_url, message) {
    var template = $('#message_template').html();
    Mustache.parse(template);   // optional, speeds up future uses
    var rendered = Mustache.render(
      template,
      {avatar_url: avatar_url, message: message});
    $('#messages-list').append(rendered);
  }
  $(function(){
    //init socket with username
    var nickname = 'TODO';
    var socket = io('', {query: 'nickname=' + nickname});
    socket.emit('user connected', nickname);
    $('#chat_form').submit(function(){
      var msg = $('#m').val();
      render_message('http://fonixweddingplanner.com/uploads/testimonial/default.png', msg);
      socket.emit('chat message', msg);
      // clear message field
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      render_message('https://cdn3.iconfinder.com/data/icons/character/512/8-512.png', msg);
    });
    // update connected users
    socket.on('user connected', function(nickname){
      $('#users').append($('<li>').text(nickname));
    });

    // show nickname
    $('#nick_tag').text('Welcome ' + nickname);
    $('#login').hide();
    // show chat
    $('#chat').show();
    // prevent form from actually submitting
    return false;
  });
</script>
{% endblock %}
