{% extends 'layout.html' %}

{% block content %}
<div class="container-fluid main-content">
	<div class="row">
    <aside class="col-xs-3 left-section">
      <header class="content-header">
        <h3>Conversaciones anteriores</h3>
      </header>
      <section class="row">
        <ul id="conversations" class="conversation-list">
        {% if !previous_profs.length %}
          <p>No conversations.</p>
        {% endif %}
        {% for prof in previous_profs %}
          <li>
              <div class="chat-conversation-avatar">
                <img class="img-rounded" width="50" src="{{ prof.avatar }}">
              </div>
              <div class="chat-conversation-user">
                <p>{{ prof.name }}</p>
              </div>
          </li>
        {% endfor %}
        </ul>
      </section>
    </aside>
	  <section class="col-xs-8">
	    <div class="row chat-messages">
        <div class="col-xs-12">
          <header class="content-header">
            <h3 class="">Estás chateando con <b>{{ to.name }}</b></h3>
          </header>
  	      <ul id="messages-list">
  	      </ul>
        </div>
      </div>
      <div class="row chat-input">
        <div class="chat-input-avatar col-xs-1 col-xs-offset-1">
          <img class="img-rounded" width="34" src="/images/users/no_soul_grey.jpg">
        </div>
        <div class="chat-input-form col-xs-10 ">
          <form action="" class="form-inline" id='chat_form'>
            <div class="form-group chat-input-group">
              <input id="m" autocomplete="off" class="form-control" placeholder="Escribe tu mensaje"/>
            </div>
            <button type="submit" class="btn btn-default chat-send">Enviar</button>
          </form>
        </div>
      </div>
	  </section>	  
	</div>
</div>

{% endblock %}

{% block extra_js %}
<script id="message_template" type="x-tmpl-mustache">
{% raw %}
  <li>
    <div class="row chat-message">
      <div class="chat-message-avatar col-xs-1">
        <img class="img-rounded" width="34" src="{{ avatar_url }}">
      </div>
      <div class="chat-message-text col-xs-10">
        <p>{{ message }}</p>
      </div>
    </div>
  </li>
{% endraw %}
</script>
<script>
  function render_message(avatar_url, message) {
    var template = $('#message_template').html();
    Mustache.parse(template);   // optional, speeds up future uses
    var rendered = Mustache.render(
      template,
      {avatar_url: avatar_url, message: message});
    $('#messages-list').append(rendered);
  }
  $(function(){
    //init socket with username
    var nickname = 'TODO';
    var socket = io('', {query: 'nickname=' + nickname});
    socket.emit('user connected', nickname);
    $('#chat_form').submit(function(){
      var msg = $('#m').val();
      render_message('/images/users/no_soul_grey.jpg', msg);
      socket.emit('chat message', msg);
      // clear message field
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      render_message('/images/users/no_soul_red.jpg', msg);
    });
    /*// update connected users
    socket.on('user connected', function(nickname){
      $('#users').append($('<li>').text(nickname));
    });
    */
    // prevent form from actually submitting
    return false;
  });
</script>
{% endblock %}
