<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}nodejs_chat{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/stylesheets/layers.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <!-- Header -->
    <header class="row row-header buffer-top">
      <div class="push-left">
        <h1 class="squeeze-top">WOHO-Chat</h1>
      </div>
    </header>
    <div class="row row-main-content">
      <section class="column ten reset">
        <div class="row row-chat">
          <ul id="messages">
            <li>Sample message</li>
            <li>Sample message</li>
            <li>Sample message</li>
            <li>Sample message</li>
          </ul>
          <div class="chat-input row">
            <div class="chat-input-avatar column one">
              <img src="http://fonixweddingplanner.com/uploads/testimonial/default.png">
            </div>
            <div class="chat-input-form column eleven last">
              <form action="" class="">
                <input id="m" autocomplete="off" class="plain input buffer" placeholder="Escribe tu mensaje"/>
                <button class="plain input button">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </section>
      <aside class="column two reset last">
        <header class="row row-aside-header">
          <div class="row-content">
            <h3 class="squeeze-top">Historial de conversaciones</h3>
          </div>
        </header>
        <section class="row">
          <ul id="conversations">
            <li>Sample item</li>
            <li>Sample item</li>
            <li>Sample item</li>
            <li>Sample item</li>
          </ul>
        </section>
      </aside>
    </div>
    <footer class="row row-footer">
      <div class="row-content buffer">
        <p><a href="#" target="_blank">Footerrr</a></p>
      </div>
    </footer>
  </body>
</html>
