<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Chat{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <header class="container-fluid page-header">
      <div class="row">
        <div class="col-xs-12">
          <h1>Chat</h1>
        </div>
      </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class="footer page-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <div class="row">
              <div class="col-lg-4 col-xs-12">
                <img src="/images/logos/chat-icon.png" alt="chat-icon" width="125" height="25">
              </div>
              <div class="col-lg-4 col-xs-12">
              </div>
              <div class="col-lg-4 col-xs-12">
              </div>
            </div>
          </div>
        </div>
        <div class="row copyright">
          <span class="col-xs-12 center-col"><a href="https://github.com/garcianavalon/nodejs_chat">garcianavalon</a></span>
        </div>
      </div><!--/.container-fluid -->
    </footer>
    {% block extra_body %}
    {% endblock %}
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/mustache.min.js" ></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
