{% extends 'layout.html' %}

{% block content %}
<div id="loginModal" class="modal-dialog modal-sm account-form" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="ModalLabel">Please sign in</h4>
    </div>
    <div class="modal-body">
      <a href="/auth/provider" class="button">Log in with my 'provider' account</a>
    </div>
    <div class="modal-footer">
      <p>You don't have an account? <a href="http://localhost:7070/signup" class="">Register</a></p>
    </div>
  </div>
</div>
{% endblock %}
