/*
// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Source Sans Pro', sans-serif;

// greys
$dark-black: #272727;
$light-black: #4e4e4e;
$dark-grey: #757575;
$main-grey: #9c9c9c;
$light-grey: #c4c4c4;
$white: #FFFFFF;

// reds
$dark-dark-red: #763135;
$dark-red: #b0494f;
$main-red: #EC6269;
$light-red: #ef8187;
$light-light-red: #f7c0c3;
$super-light-red: #fbdfe1;

// blues
$dark-blue: #1d465c;
$blue: #3a8bb8;
$light-blue: #89b9d4;

*/

html, body {
  font: 14px 'Source Sans Pro', sans-serif;
}

a {
  color: #fff;
}

ul {
  list-style: none;
}

.page-header {
  background-color: #EC6269;
  color: #fff;
  margin: 0px;
  border: none;
}

.main-content {
  padding-left: 0px;
  padding-right: 0px;
}

.row-main-content > aside {
  border-left: 1px solid #aaa;
}

.chat-input {
  border-top: 1px solid #aaa;
  padding-top: 20px;
}

#m {
  width: 100%;
  background-color: #c4c4c4;
}
.chat-input-group {
  width: 75%;
}
.chat-send {
  width: 20%;
}

.chat-message {
  margin-top: 5px;
}

.chat-message-text {
  margin-top: 0px;
  padding-left: 0px;
}

.chat-message-username {
  padding-left: 0px;
}

.content-header {
  border-bottom: 1px solid #aaa;
}

.chat-conversation-user p {
  font-size: 13px;
}

#messages-list{
  height: 58vh;
  overflow: scroll;
  padding-left: 0px;
  padding-top: 10px;
}

.left-section {
  background-color: #9c9c9c;
  min-height: 90vh;
}

.page-footer {
  background-color: #272727;
  padding-top: 30px;

  position: absolute;
  bottom: -247px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

.copyright {
  color: #757575;
  margin-top: 20px;
}

