html, body {
  font: 14px 'Source Sans Pro', sans-serif;
}

a {
  color: #444;
}

.row-header {
    background-color: #EC6269;
    color: #fff;
}

.row-main-content {
  min-height: 70%;
}
.row-footer {
    background-color: #EC6269;
    color: #fff;
}

